:root {
  /* Основные шрифты */
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* Основная цветосхема */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-theme-color: #2196f3;
  --text-button-color: #ffffff;
  --main-bcg-color: #ffffff;
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
  background-color: var(--main-bcg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* Вспомагательные фон и рамка */
  /* outline: 1px solid rgb(74, 24, 155);
  background-color: rgb(125, 201, 231); */
}

.conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Вспомагательные фон и рамка */
  /* outline: 1px solid red;
  background-color: rgb(73, 233, 121); */
}

/* Маркеры списков */
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Ссылки */
.link {
  text-decoration: none;
  color: inherit;
}

/* Картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Для логических заголовков */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Кнопки */
.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--main-theme-color);
  color: var(--text-button-color);
}

/* Хеддер */
/* Логотип */
.logo {
  color: var(--main-theme-color);

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-light-theme {
  color: #ffffff;
}

.logo-dark-theme {
  color: #000000;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* Навигация */
.header {
  border-bottom: 1px solid #ececec;
}

.header-main-nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: flex;
  margin-left: 93px;
}

.page-nav.current-page {
  color: var(--main-theme-color);
}

.page-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav-list {
  display: flex;
  margin-left: auto;
}

.contact-nav {
  color: var(--primary-text-color);

  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
}
.page-nav-item:not(:first-child),
.contact-nav-item:not(:first-child) {
  margin-left: 50px;
}

.contact-nav:hover,
.contact-nav:focus,
.page-nav:hover,
.page-nav:focus {
  color: var(--main-theme-color);
}

/* Главная страница */
/* Банер */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: violet;
}
.hero-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 700px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--text-button-color);
  background-color: var(--main-theme-color);

  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Особенности */
.qualities-list {
  display: flex;
  justify-content: stretch;
  letter-spacing: 0.03em;
}
.qualities-list-item {
  min-width: 270px;
}

.qualities-list-item:not(:last-child) {
  margin-right: 30px;
}

.qualities-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;

  color: var(--secondary-text-color);

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.business.section {
  padding-top: 0;
}

.business-list {
  display: flex;
  justify-content: space-between;
}

.business-list-item:not(:first-child) {
  margin-left: 30px;
}

.business-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.team-cards {
  display: flex;
  justify-content: center;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-discription {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-card-discription h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: inherit;
  line-height: inherit;
  color: var(--secondary-text-color);

  font-weight: 500;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  color: #ffffff;

  font-style: normal;
  letter-spacing: 0.03em;
}

.contact {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  letter-spacing: 0.03em;
}

.contact:hover,
.contact:focus {
  color: var(--main-theme-color);
}

.address-list-item:not(:first-child) {
  margin-top: 9px;
}

/* Страница Портфолио */
/* Фильтр */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: #f5f4fa;

  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--text-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галерея проектов */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
}

.project-discription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.project-discription p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
